@charset "utf-8";
@import url("file:///C|/Users/Luisa/Documents/2019/ana/anasitio2/css/mq.css");

thead tr th {
    color: #30799E;
}
.container-fluid.centrarCaja .row .col-lg-12 {
    font-family: "Myriad Pro";
}
.container-fluid {
    font-family: "Myriad Pro", "Myriad Pro Cond";
}

.container-fluid .row.footer.text-center {
    background-image: url(../images/fondo.png);
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;

}
tbody tr .text-center {
    border-width: 0%;
}
.col-lg-12.modal-dialog .row .col-lg-12.text-center {
    background-color: #EBF4F1;
}
.row .col-lg-12 p {
    text-align: center;
    font-size: medium;
}
.row .col-lg-12 .uno {


}
.container-fluid .row.img-fluid {

}
.container-fluid .row.banner {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}
.container-fluid .row.form {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: table;
}
.container-fluid .row.footer.text-center {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #F59F72;
    border-spacing: px 3px;
}
.container-fluid .row .col-lg-12.alejo {
    padding-left: 60px;
    padding-right: 60px;
    text-align: left;
}
.container-fluid .row.fondo .col-lg-12.modal-dialog {
    background-color: #FDFDFD;
}
.container-fluid .row.fondo {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: table;
    background-repeat: repeat;
    background-color: #F4F4F4;
}
.container-fluid .row.central {

}




.row .col-lg-12.alejo .text-center {
    text-align: justify;
}
.container-fluid .row .col-lg-12.ok {
    background-color: #D2F3F1;
}
.container-fluid .row.footer.text-center {
    margin-top: 15px;
}
